@{ ViewData["Title"] = "Email Confirmation";
    Layout = "_NoHeaderLayout"; }
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <div class="row">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-header  panel-header">
                        Confirmation
                    </div>

                    <div class="card-body" id="content" style="background: #f8f9fa ; border: 1px solid #eeefef;">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">

                                <div class="col-sm-9 p-0 m-0">

                                    @{ if (!String.IsNullOrEmpty(ViewData["status"].ToString()))
                                        {
                                         
                                            <div class="alert alert-success" role="alert">
                                                @ViewData["status"], Click <a href="../User/login">login</a> to continue
                                            </div> 
                                            
                    
                                    } }
                                  
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
<footer class="sticky-footer" style="width:100% !important">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright ©  @DateTime.Now.Year</span>
        </div>
    </div>
</footer>