@{ ViewData["Title"] = "Not Found";
    Layout = ""; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Not Found</title>
    <environment include="Development">
        <!-- Bootstrap core CSS-->
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    </environment>

    <environment exclude="Development">
        <!-- Bootstrap core CSS-->
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    </environment>


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body id="page-top" style='-webkit-font-smoothing: subpixel-antialiased;-webkit-font-smoothing: antialiased;' class="sidebar-toggled">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card ">


                        <div class="card-body" id="content" style="background: #f8f9fa ; border: 1px solid #eeefef;">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-9 p-0 m-0">

                                        The page you looking for is not found

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="sticky-footer" style="width:100% !important">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright ©  @DateTime.Now.Year</span>
            </div>
        </div>
    </footer>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/js/sb-admin.js"></script>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
</body>
</html>

